:root {
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    font-family: sans-serif;

    margin-top: 3em;

    background-color: #EEEEEF;
    color: #222;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #222223;
        color: #DDD;
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 860px) {
    html {
        font-size: 1.2em;
    }
}

@media print { 
    html {
        background-color: #FFF;
        color: #000;
        font-size: 0.8em;
        margin-top: 0;
        padding: 2em;
    }
}

a {
    color: #3366FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media print { 
    a {
        text-decoration: underline;
        color: #000 !important;
    }
}

@media (prefers-color-scheme: dark) {
    a {
        color: #66AAFF;
    }
}

.main-content {
    margin: auto;
    padding: 0 1em;
    max-width: 860px;
    margin-bottom: 6em;
}

.notice {
    background-color: #FFF;
    border: solid 1px #DDD;
    padding: 0.6em 1em 0;
    border-radius: 1px;
}

@media (prefers-color-scheme: dark) {
    .notice {
        background-color: #333334;
        border-color: #444;
    }
}

h1, h2, p, li, ul, ol {
    line-height: 1.5em;
}

@media print {
    h1, h2, p, li, ul, ol {
        line-height: 1.2em;
    }
}

header {
    margin-bottom: 0.4em;
    border-bottom: solid 1px #DDD;
    margin-top: 1.6em;
    padding-bottom: 0.2em;
}

header h1, header h2, header p {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    header {
        border-bottom: solid 1px #666;
    }
}

strong {
    color: #000;
}

@media (prefers-color-scheme: dark) {
    strong {
        color: #FFF;
    }
}

h1 {
    font-size: 1.4em;
}

.header-contact {
    font-size: 0.8em;
    font-weight: normal;
    float: right;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

p, .notice {
    margin-bottom: 0.8em;
}

li {
    margin-bottom: 0.4em;
}

@media print {
    p, .notice {
        margin-bottom: 0.6em;
    }

    li {
        margin-bottom: 0.3em;
    }
}


ul, ol {
    margin-left: 2em;
}

@media print {
    ul, ol {
        margin-left: 2em;
    }
}

.image-gallery {
    text-align: center;
}

.image-gallery img {
    max-height: 20em;
    max-width: 100%;
}

.image-float-right {
    float: right;
    width: 20%;
    margin-top: 1em;
    margin-left: 2em;
}

.only-print {
    display: none;
}

@media print {
    .no-print {
        display: none !important;
    }

    .only-print {
        display: block;
    }
}

.smaller {
    font-size: 0.8em;
}