// Placeholder to allow overriding predefined variables smoothly.

$on-laptop-xl:     1200px !default;
$on-xlarge:       $on-laptop-xl !default;

$hairline: 0.3pt;

$background-color: #ecf0f7;
$alt-background-color: #222223;
// $background-color: #27df16;